.cart {
	text-align: center;
	padding: 45px 0;
	&__left {
		width: 30%;
	}

	&__deli {
		display: flex;
		flex-direction: column;
		row-gap: 10px;
		text-align: left;
		&-area {
			width: 100%;
			border: none;
			outline: none;
			resize: none;
			border-bottom: 1px solid black;
			max-height: 200px;
		}
		&-red {
			font-weight: 400;
			font-size: 24px;
			line-height: 140%;
			color: #e64926;
			cursor: pointer;
			transition: color .2s ease-in;
			&:hover{
				color: #4c1e13;
			}
		}
	}
	&__pay {
		&-label {
			display: flex;
			gap: 9px;
		}
		&-wrapper {
			margin-top: 15px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			align-items: flex-start;
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		row-gap: 25px;
		&-input {
			border: none;
			outline: none;
			border-bottom: 1px solid black;
			padding-bottom: 6px;
			width: 100%;
		}
	}

	&__right {
		width: 70%;
	}

	&__wrapper {
		padding: 20px 0;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
	&__card {
		justify-content: space-between;
		display: flex;
		width: calc(50% - 20px);
	}
	.card__card-remove {
		cursor: pointer;
		height: 22px;
	}
	&__block {
		display: flex;
		column-gap: 30px;
		margin-top: 30px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	&__title {
		font-weight: 500;
		font-size: 25px;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #0f303f;
	}
	&__text {
		font-weight: 400;
		font-size: 14px;
		line-height: 140%;
		color: #254a5a;
		margin-bottom: 20px;
	}
	&__img {
		margin: 75px 0 44px;
	}
	&__btn {
		padding: 15px 19px;
		background: #0f303f;
		border: none;
		cursor: pointer;
		font-weight: 800;
		font-size: 16px;
		text-transform: uppercase;
		color: #eae9e8;
	}
}
