.favorites {
	padding-top: 45px;

	&__row {
		display: flex;
		flex-wrap: wrap;
		gap: 50px;
	}
	&__card {
		display: flex;
		width: calc(50% - 25px);
		column-gap: 25px;
		&-info {
			width: 60%;
		}
		&-count {
			font-size: 22px;
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: 5px;
			margin-top: 15px;
			span {
				cursor: pointer;
				width: 25px;
				height: 25px;
				border: 1px solid;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&-remove{

				cursor: pointer;
			}
		}
	}
	&__img {
		width: 40%;
	}
}
