.favorites {
	&__row {
		padding: 45px 0;
		display: flex;
		flex-wrap: wrap;
		gap: 50px;
	}
	&__line {
		position: relative;
		::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 50%;
			height: 100%;
			border-left: 1px solid #e9e9e7;
		}
	}
	&__card {
		width: calc(50% - 25px);

		&:nth-child(odd) {
			display: flex;
			justify-content: flex-end;
		}
		&-wrapper {
			display: flex;
			column-gap: 25px;
			width: 50%;
		}
		&-info {
			width: 60%;
		}
		&-count {
			font-size: 22px;
			display: flex;
			justify-content: center;
			align-items: center;
			column-gap: 5px;
			margin-top: 15px;
			span {
				cursor: pointer;
				width: 25px;
				height: 25px;
				border: 1px solid;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		&-remove {
			cursor: pointer;
			max-height: 22px;
		}
	}
	&__img {
		max-width: 140px;
		max-height: 170px;
	}
	&__none {
		font-size: 24px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}
@media only screen and (max-width: 1300px) {
	.favorites {
		&__card {
			&-wrapper {
				width: 70%;
			}
		}
	}
}
@media only screen and (max-width: 1000px) {
	.favorites {
		&__card {
			&:nth-child(odd) {
				justify-content: unset;
			}
			&-wrapper {
				width: 100%;
				padding: 0 60px;
			}
		}
		&__line {
			::before {
				border-left: none;
			}
		}
	}
}
@media only screen and (max-width: 800px) {
	.favorites {
		&__card {
			width: 100%;
			&-wrapper {
				padding: 0 100px;
				width: 100%;
			}
		}
		&__line {
			::before {
				border-left: none;
			}
		}
	}
}

@media only screen and (max-width: 576px) {
	.favorites {
		&__card {
			&-wrapper {
				padding: 0 40px;
			}
		}
	}
}
@media only screen and (max-width: 450px) {
	.favorites {
		&__card {
			&-wrapper {
				padding: 0 20px;
			}
		}
	}
}
@media only screen and (max-width: 350px) {
	.favorites {
		&__img {
			max-width: 90px;
			max-height: 90px;
		}
	}
}
