.header {
	padding: 22px 0;
	border-bottom: 1px solid #e9e9e7;
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		
	}
	&__menu {
		display: flex;
		column-gap: 40px;
		align-items: center;
		cursor: pointer;

		&-link {
			font-weight: 400;
			font-size: 16px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #0f303f;
			transition: color 0.2s ease-in;
			&:hover {
				color: #b7c1c5;
			}
			position: relative;
			sup {
				position: absolute;
				top: -10px;
				right: 0;
			}
		}
	}

	&__right {
		display: flex;
		column-gap: 57px;
		align-items: center;
	}
	&__lang,
	&__icons {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}
	&__lang-link {
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #0f303f;
		cursor: pointer;
		transition: 0.5s;
		position: relative;

		&.active,
		&:hover {
			color: #e64926;
			transition: 0.5s;
		}
		&.active {
			&::before {
				content: "";
				position: absolute;
				width: 25px;
				height: 2px;
				background: #e64926;
				left: 50%;
				top: 45px;
				transform: translateX(-50%);
			}
		}
	}
}
@media only screen and (max-width: 992px) {
	.header {
		&__menu {
			display: none;
		}
		&__right {
			column-gap: 50px;
		}
	}
}
@media only screen and (max-width: 576px) {
	.header {
		&__lang {
			display: none;
		}
	}
}
@media only screen and (max-width: 380px) {
	.header {
		&__title {
			&-svg {
				width: 100px;
			}
		}
		&__right {
			column-gap: 30px;
		}
	}
}
