.header {
	padding: 22px 0;
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__menu {
		display: flex;
		column-gap: 40px;
		align-items: center;
		&-link {
			font-weight: 400;
			font-size: 16px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #0f303f;
		}
	}
	&__search {
		display: flex;

		column-gap: 20px;
		&-text {
			font-weight: 400;
			font-size: 16px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #0f303f;
		}
		&-field {
			width: 150px;
			border: none;
			outline: none;
			border-bottom: 1px solid #0f303f;
		}
	}
	&__right {
		display: flex;
		column-gap: 57px;
		align-items: center;
	}
	&__lang,
	&__icons {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}
	&__lang-link {
		font-weight: 400;
		font-size: 16px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #0f303f;
		cursor: pointer;
		transition: 0.5s;
		position: relative;

		&.active,
		&:hover {
			color: #e64926;
			transition: 0.5s;
		}
		&.active {
			&::before {
				content: "";
				position: absolute;
				width: 25px;
				height: 2px;
				background: #e64926;
				left: 50%;
				top: 45px;
				transform: translateX(-50%);
			}
		}
	}
}
