
.popular {
	padding: 120px 0;
	text-align: center;
	&__title {
		font-weight: 400;
		font-size: 30px;
		letter-spacing: 0.045em;
		text-transform: uppercase;
		color: #0f303f;
		margin-bottom: 75px;
	}

	& .products__card {
		width: 100%;
		&-price {
			font-family: sans-serif;
			font-weight: 500;
			font-size: 14px;
			letter-spacing: 0.045em;
			text-transform: uppercase;
			color: #fd5454;
			display: flex;
			justify-content: center;
			column-gap: 5.5px;
		}
		&-oldPrice {
			text-decoration: line-through;
			text-transform: uppercase;
			color: #cecece;
		}
	}
	& .popular-btn {
		width: 90px;
		height: 90px;
		background: #ffffff;
		border: none;
		border-radius: 50%;
		cursor: pointer;
		font-size: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	& .swiper {
		padding: 0 40px;
		position: relative;
		& .popular-next {
			position: absolute;
			top: 50%;
			right: 0;
			z-index: 6;
			transform: translateY(-50%);
		}
		& .popular-prev {
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 6;
			transform: translateY(-50%);
		}
	}
}
@media only screen and (max-width: 1300px) {
	.popular {
		& .swiper {
			padding: 0 20px;
		}
		& .products__card {
		&-img{
		max-width: 340px;	
		}
		}

	}
}
@media only screen and (max-width: 1200px) {
	.popular {
		& .products__card {
		&-img{
		max-width: 300px;	
		}
		}

	}
}
@media only screen and (max-width: 1100px) {
	.popular {
		& .products__card {
		&-img{
		max-width: 270px;	
		}
		}

	}
}
@media only screen and (max-width: 992px) {
	.popular {
		padding: 80px 0;
		&__title{
			margin-bottom: 50px;
		}
		& .products__card {
		&-img{
		max-width: 230px;	
		}
		}

	}
}
@media only screen and (max-width: 900px) {
	.popular {
		& .products__card {
		&-img{
		max-width: 320px;	
		}
		}

	}
}
@media only screen and (max-width: 790px) {
	.popular {
		padding: 60px 0;
		& .products__card {
		&-img{
		max-width: 280px;	
		}
		}

	}
}
@media only screen and (max-width: 700px) {
	.popular {
		& .products__card {
		&-img{
		max-width: 180px;	
		}
		}

	}
}
@media only screen and (max-width: 567px) {
	.popular {
		padding: 40px 0;
		& .products__card {
		&-img{
		max-width: 360px;	
		}
		}

	}
}
@media only screen and (max-width: 500px) {
	.popular {
		& .products__card {
		&-img{
		max-width: 230px;	
		}
		}

	}
}
@media only screen and (max-width: 400px) {
	.popular {
		padding: 20px 0;
		& .products__card {
		&-img{
		max-width: 230px;	
		}
		}
		& .popular-btn {
			width: 40px;
			height: 40px;
		}
	}
}