.product {
	&__row {
		display: flex;
		justify-content: center;
		column-gap: 36px;
		margin-top: 20px;
	}
	&__slide {
		width: 55%;
	}
	&__info {
		width: 45%;
	}
	&__title {
		font-weight: 500;
		font-size: 35px;
		text-transform: uppercase;
		color: #0f303f;
	}
	&__category {
		font-weight: 300;
		font-size: 20px;
		text-transform: capitalize;
		color: #0f303f;
	}
	&__price {
		font-weight: 500;
		font-size: 20px;
		letter-spacing: 0.045em;
		text-transform: uppercase;
		color: #0f303f;
		margin: 6px 0 20px;
	}
	&__title-size {
		font-weight: 400;
		font-size: 12px;
		color: #0f303f;
		display: flex;
	}
	&__list {
		display: flex;
		column-gap: 10px;
		margin-top: 6px;
	}
	&__size {
		width: 35px;
		height: 35px;
		border: 1px solid #eae9e8;
		font-weight: 400;
		font-size: 12px;
		color: #0f303f;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		&:hover {
			border: 1px solid #0f303f;
		}
		&_null {
			background: #eae9e8;
			width: 35px;
			height: 35px;
			font-weight: 400;
			font-size: 12px;
			color: #0f303f;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	&__btns {
		margin-top: 20px;
		display: flex;
		gap: 20px;
		flex-direction: column;
	}
	&__btn {
		width: 280px;
		padding: 14px 21px;
		border: 1px solid #0f303f;
		background: transparent;
		font-weight: 500;
		font-size: 16px;
		text-transform: uppercase;
		color: #0f303f;
		cursor: pointer;
		&_buy {
			background: #0f303f;
			color: #eae9e8;
		}
	}
}

.mySwiper2 {
	width: 427.94px;
	height: 520px;
	margin-bottom: 15px;
}

.mySwiper {
	width: 427.94px;
	height: 20%;
	box-sizing: border-box;
	padding: 10px 0;
}

.mySwiper .swiper-slide {
	width: 25%;
	height: 100%;
	opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
	opacity: 1;
}

.product__slide-img {
	display: block;
	width: 100%;
	height: 100%;
	cursor: pointer;
	object-fit: cover;
}
@media only screen and (max-width: 800px) {
	.mySwiper2,
	.mySwiper {
		width: 357.94px;
	}
}
@media only screen and (min-width: 768px) {
	.mySwiper3 {
		display: none;
	}
	.product__text {
		display: none;
	}

}
@media only screen and (max-width: 768px) {
	.product {
		&__row {
			flex-direction: column;
		}
		&__slide {
			width: 100%;
		}
		&__price {
			margin: 0;
		}
	}
	
	.product__text {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 20px;
	}
	.product__info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 20px 0;
		gap: 15px;
		&-text {
			display: none;
		}
	}
	.product__title-size{
		font-size: 20px;
	}
	.mySwiper3 {
		height: 500px;
		
	}
	.mySwiper2,
	.mySwiper {
		display: none;
	}
	.swiper-slide {
		min-width: 420px;
	}
}
@media only screen and (max-width: 555px) {

	.swiper-slide {
		min-width: 220px;
	}
	.mySwiper3 {
		height: 370px;
		
	}
}
@media only screen and (max-width: 375px) {

	.swiper-slide {
		min-width: 160px;
	}
	.mySwiper3 {
		height: 300px;
		
	}
}