.questions {
	padding: 20px 0;
	&__title {
		font-weight: 500;
		font-size: 25px;
		text-transform: uppercase;
		color: #0f303f;
		margin: 23px 0 40px;
	}
	&__row {
		display: flex;
		column-gap: 70px;
	}

	&__form {
		width: 35%;
		height: 440px;
		padding: 28px 25px;
		background: #eae9e8;
		&-title {
			font-weight: 500;
			font-size: 18px;
			line-height: 25px;
			text-transform: uppercase;
			color: #0f303f;
			margin-bottom: 23px;
		}
		&-block {
			display: flex;
			flex-direction: column;
			row-gap: 15px;
		}
		&-input {
			height: 40px;
			background: transparent;
			padding-bottom: 5px;
			border: none;
			border-bottom: 1px solid #254a5a;
			outline: none;
		}
		&-ques {
			font-weight: 400;
			font-size: 14px;
			color: #0f303f;
		}
		&-area {
			height: 100px;
			border: 1px solid #254a5a;
			background: transparent;
			padding: 5px 10px;
			resize: none;
			outline: none;
		}
		&-btn {
			padding: 14px 20px;
			background: #e64926;
			border: 1px solid #e64926;
			cursor: pointer;
			font-weight: 500;
			font-size: 16px;
			text-transform: uppercase;
			color: #eae9e8;
		}
	}

	&__list {
		width: 65%;
		display: flex;
		flex-direction: column;
		row-gap: 15px;

		&-title {
			font-weight: 800;
			font-size: 14px;
			color: #0f303f;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		row-gap: 13px;
		border-top: 1px solid #eae9e8;
		&:last-child {
			border-bottom: 1px solid #eae9e8;
		}

		padding: 15px 0;
		&-top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			span {
				cursor: pointer;
				font-size: 30px;
				transition: 0.3s;
			}
			.close {
				transform: rotate(45deg);
				transition: 0.3s;
			}
		}
		&-title {
			font-weight: 800;
			font-size: 16px;
			color: #0f303f;
		}
		&-bottom {
			display: none;
			font-weight: 400;
			font-size: 14px;
			line-height: 19px;
			color: #0f303f;
			opacity: 0.7;
		}
	}
}
@media only screen and (max-width: 768px) {
	.questions {
		&__list{
			width: 45%;
		}
	&__form{
		width: 55%;
	}
	}
}
@media only screen and (max-width: 576px) {
	.questions {
		&__title{
			text-align: center;
		}
		&__row{
			flex-direction: column;
			gap: 25px;
		}
		&__list{
			width: 100%;
		}
	&__form{
		width: 100%;
		padding: 16px 25px;
	}
	}
}
